#statement.w{
	height:27px;
	background: url(../img/cartImg/process01.gif) no-repeat center;
	margin: 15px auto;
}
#content.w{
	min-height:300px;
}
#content.w .success{
	display:none;
	width:900px;
	height:35px;
	margin:15px 0;
	background:#f4fff3;
	line-height: 35px;
	border: 1px solid #8cbe7c;
	color:#7a7a7a;
	padding-left: 60px;
}
#content.w table{
	display:none;
	background: #eee;
	width: 960px;
	height:35px;
}
#content.w  table td{
	width:192px;
	height:35px;
	text-align: center;
}
#content.w ul{
	width:960px;
	height:90px;
	border-bottom: 1px solid #ccc;
}
#content.w ul li{
	color:#7A7A7A;
	text-align: center;
	float: left;
	width:192px;
	height:90px;
	line-height: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#content.w ul li.teshu{
	height:70px;
	line-height: 25px;
	padding-top:20px;
}
#content.w ul li a.delete{
	color:#7A7A7A;
	display: block;
	width:192px;
}
#content.w ul li a.shoucang{
	display: block;
	width:192px;
	color:#7A7A7A;
}
#content.w ul li a.delete:hover{
	color:#8E0C3A;
}
#content.w ul li a.shoucang:hover{
	color:#8E0C3A;
}
#content.w ul li img{
	margin-left: 71px;
	margin-top:15px;
	width:50px;
	height:60px;
}

#content.w .pay{
	display:none;
	height:120px;
	color:#7a7a7a;

}
#content.w .pay p{
	margin-top:15px;
	margin-right: 100px;
	line-height: 30px;
}
#content.w .pay p span{
	display: block;
	height:30px;
	width:50px;
	line-height: 30px;
	font-size:20px;
	color:#8E0C3A;	
}
#content.w .pay a{
	margin-top:50px;
	color:#7A7A7A
}#content.w .pay a:hover{
	color:#8E0C3A;
}
#content.w .pay input{
	height:42px;
	width:150px;
	background: url(../img/cartImg/cartbtn.gif) no-repeat center;
	margin-top:50px;
	margin-right: -250px;
}
#content.w .zhezhao{
	width:960px;
	height:300px;
	line-height: 300px;
	background: url(../img/cartImg/cartico.png) no-repeat center;
}
#content.w .zhezhao p{
	margin-left: 300px;
}
#content.w .zhezhao p a{
	font-size: 16px;
}


























