
.w.QRcode_logo{
	height:74px; 
	padding:15px; 
	margin-top:8px; 
	width:932px;
	margin-bottom: 15px;
}

.w.QRcode_logo .img2{
	margin:25px 160px 0 6px;
}
.w.QRcode_logo .img3{
	margin-top:15px;
}
.w.QRcode_logo .search{margin-top: 25px;}
.w.QRcode_logo .search input{
	width:130px; 
	height:24px; 
	border: 1px solid #ccc; 
	border-right:0;
}
.w.QRcode_logo .search .searchSP{
	cursor:pointer; 
	border: 1px solid #ccc; 
	border-left: 0; 
	display:block ; 
	width:24px; 
	height:24px; 
	background: url(../img/headerImg/searchBtn.gif) no-repeat center;
}
/*选项卡*/
#logo.w .ul1{
	width:960px;
	height:34px;
	margin:10px 0;
	line-height: 34px;
	
}

#logo.w .ul1>li>a{
	display: block;
	padding:0 38px;
	height:34px;
}
#logo.w .ul1>li.teshu a{
	padding: 0 44px;
	background: #8e0c3a;
	color:#fff
}
#logo.w .ul1>li>a:hover{
	background: #8e0c3a;
	color:#fff
}
#logo.w .ul1>li{
	position:relative;
	height:34px;
	border-bottom: 1px solid black;
	z-index: 100;
}
#logo.w .ul1>li .tab{
	position:absolute;
	width:958px;
	height:310px;
	border: 1px solid #999;
	border-top: 0;
	bottom: -312px;
	background:#fff;

}

#logo.w .ul1>li .tab1{
	left:-100px;
	display: none;
}
#logo.w .ul1>li .tab2{
	left:-224px;
	display: none;
}
#logo.w .ul1>li .tab3{
	left:-324px;
	display: none;
}
#logo.w .ul1>li .tab4{
	left:-424px;
	display: none;
}
#logo.w .ul1>li .tab5{
	left:-524px;
	display: none;
}
#logo.w .ul1>li .tab6{
	left:-624px;
	display: none;
}
#logo.w .ul1>li .tab7{
	left:-724px;
	display: none;
}
#logo.w .ul1>li .tab1 div a:hover{
	color:#A20D3A;
}
/*tab1*/
#logo.w .ul1>li .tab1 div.tab1_1{
	color:#a20d3a;
	width:92px;
	height:100px;
	margin-right:20px ;
	float: left;
	margin-bottom: 100px;
	line-height: 28px;
	text-align: center;
	padding-top:13px
}
#logo.w .ul1>li .tab1 div.tab1_1 p a b,div.tab1_2 p a b,div.tab1_3 p a b,div.tab1_4 p a b{color:#a20d3a;}
#logo.w .ul1>li .tab1 a{color:#7a7a7a}
#logo.w .ul1>li .tab1 div.tab1_2{
	text-align: left;
	line-height: 22px;
	width:100px;
	height:150px;
	margin-right:20px ;
	float: left;
	margin-bottom: 90px;
}
#logo.w .ul1>li .tab1 div.tab1_2 p,#logo.w .ul1>li .tab1 div.tab1_3 p,#logo.w .ul1>li .tab1 div.tab1_4 p{
	margin-top:16px;
}

#logo.w .ul1>li .tab1 div.tab1_3{
	text-align: left;
	line-height: 22px;
	width:100px;
	height:150px;
	margin-right:20px ;
	float: left;
	margin-bottom: 90px;
	
}
#logo.w .ul1>li .tab1 div.tab1_4{
	text-align: left;
	line-height: 22px;	
	width:100px;
	height:50px;
	margin-right:20px ;
	float: left;

}
#logo.w .ul1>li .tab1 div.tab1_5{
	width:525px;
	height:240px;
	margin-right:33px;
	float: right;
	margin-bottom: 10px;
}
#logo.w .ul1>li .tab1 div.tab1_5 dl{
	float: left;
	width:175px;
}
#logo.w .ul1>li .tab1 div.tab1_5 dd{
	line-height: 22px;
}
#logo.w .ul1>li .tab1 div.tab1_5 dd a{
	display: block;
	width: 175px;
	height:30px;
}
#logo.w .ul1>li .tab1 div.tab1_6{
	width:100px;
	height:60px;
	line-height: 22px;
	margin-right:20px ;
	float: left;
	margin-bottom: 10px;
	margin-left: 20px;
}
#logo.w .ul1>li .tab1 div.tab1_6 a{text-decoration: underline;}
/*tab2*/
#logo.w .ul1>li .tab2 div{
	
	width:140px;
	height:200px;
	margin-left:20px ;
	float: left;
	line-height: 22px;
	text-align: left;
	padding-top:13px
}
#logo.w .ul1>li .tab2 div.tab2_1{
	margin-left:30px
}
#logo.w .ul1>li .tab2 div.tab2_3{
	width:100px;
}
#logo.w .ul1>li .tab2 div.tab2_5{
	width:284px;
	height: 180px;
}
#logo.w .ul1>li .tab2 div.tab2_6{
	width:100px;
	height:30px;
	clear:both;
	margin-top:40px;
}
#logo.w .ul1>li .tab2 div.tab2_6 a{text-decoration: underline;}
#logo.w .ul1>li .tab2 div p a{color:#a20d3a;}
#logo.w .ul1>li .tab2 div a{color:#7a7a7a}
#logo.w .ul1>li .tab2 div a:hover{color:#a20d3a}
/*tab3*/
#logo.w .ul1>li .tab3 div{
	width:140px;
	height:200px;
	margin-left:20px ;
	float: left;
	line-height: 22px;
	text-align: left;
	padding-top:13px
}
#logo.w .ul1>li .tab3 div.tab3_1{
	margin-left:30px
}
#logo.w .ul1>li .tab3 div.tab3_3{
	width:100px;
}#logo.w .ul1>li .tab3 div.tab3_4{
	width:146px;
}
#logo.w .ul1>li .tab3 div.tab3_5{
	width:284px;
	height: 180px;
}
#logo.w .ul1>li .tab3 div.tab3_6{
	width:100px;
	height:30px;
	clear:both;
	margin-top:40px;
}
#logo.w .ul1>li .tab3 div.tab3_6 a{text-decoration: underline;}
#logo.w .ul1>li .tab3 div p a{color:#a20d3a;}
#logo.w .ul1>li .tab3 div a{color:#7a7a7a}
#logo.w .ul1>li .tab3 div a:hover{color:#a20d3a}
/*tab4*/
#logo.w .ul1>li .tab4 div.tab4_2 p a b,div.tab4_3 p a b,div.tab4_4 p a b{color:#a20d3a;}
#logo.w .ul1>li .tab4 a{color:#7a7a7a}
#logo.w .ul1>li .tab4 div.tab4_2{
	text-align: left;
	line-height: 22px;
	width:100px;
	height:150px;
	margin-right:40px ;
	float: left;
	margin-bottom:110px;
	margin-left:30px;
}
#logo.w .ul1>li .tab4 div.tab4_2 p{
	margin-top:16px;
}

#logo.w .ul1>li .tab4 div.tab4_3{
	margin-top:15px;
	text-align: left;
	line-height: 22px;
	width:100px;
	height:150px;
	margin-right:40px ;
	float: left;
}
#logo.w .ul1>li .tab4 div.tab4_4{
	margin-top:15px;
	text-align: left;
	line-height: 22px;	
	width:100px;
	height:30px;
	margin-right:20px ;
	float: left;
}
#logo.w .ul1>li .tab4 div.tab4_5{
	width:525px;
	height:210px;
	margin-right:33px;
	float: left;
	margin-bottom: 10px;
}
#logo.w .ul1>li .tab4 div.tab4_5 dl{
	float: left;
	width:175px;
}
#logo.w .ul1>li .tab4 div.tab4_5 dd{
	line-height: 22px;
}
#logo.w .ul1>li .tab4 div.tab4_5 dd a{
	display: block;
	width: 175px;
	height:30px;
}
#logo.w .ul1>li .tab4 div.tab4_6{
	width:100px;
	height:60px;
	line-height: 22px;
	margin-right:20px ;
	margin-bottom: 10px;
	margin-left: 30px;
}
#logo.w .ul1>li .tab4 div.tab4_6 a{text-decoration: underline;}

/*tab5*/
#logo.w .ul1>li .tab5 div.tab5_2 p a b,div.tab5_3 p a b,div.tab5_4 p a b{color:#a20d3a;}
#logo.w .ul1>li .tab5 a{color:#7a7a7a}
#logo.w .ul1>li .tab5 div.tab5_2{
	text-align: left;
	line-height: 22px;
	width:100px;
	height:150px;
	margin-right:40px ;
	float: left;
	margin-bottom:110px;
	margin-left:30px;
}
#logo.w .ul1>li .tab5 div.tab5_2 p{
	margin-top:16px;
}
#logo.w .ul1>li .tab5 div.tab5_2 .uls li a{
	line-height: 28px;
	color:#a20d3a;
}
#logo.w .ul1>li .tab5 div.tab5_3{
	margin-top:15px;
	text-align: left;
	line-height: 22px;
	width:145px;
	height:150px;
	margin-right:40px ;
	float: left;
}
#logo.w .ul1>li .tab5 div.tab5_4{
	margin-top:15px;
	text-align: left;
	line-height: 22px;	
	width:100px;
	height:30px;
	margin-right:20px ;
	float: left;
}
#logo.w .ul1>li .tab5 div.tab5_5{
	width:525px;
	height:210px;
	margin-right:33px;
	float: left;
	margin-bottom: 10px;
}
#logo.w .ul1>li .tab5 div.tab5_5 dl{
	float: left;
	width:175px;
}
#logo.w .ul1>li .tab5 div.tab5_5 dd{
	line-height: 22px;
}
#logo.w .ul1>li .tab5 div.tab5_5 dd a{
	display: block;
	width: 175px;
	height:30px;
}
#logo.w .ul1>li .tab5 div.tab5_5 dd a:hover{color:#A20D3A}
#logo.w .ul1>li .tab4 div.tab4_5 dd a:hover{color:#A20D3A}
#logo.w .ul1>li .tab4 div a:hover{color:#A20D3A}
#logo.w .ul1>li .tab5 div a:hover{color:#A20D3A}
#logo.w .ul1>li .tab5 div.tab5_6{
	width:100px;
	height:60px;
	line-height: 22px;
	margin-right:20px ;
	margin-bottom: 10px;
	margin-left: 30px;
}
#logo.w .ul1>li .tab5 div.tab5_6 a{text-decoration: underline;}
/*tab6*/
#logo.w .ul1>li .tab6{
	padding:15px;
	width:930px;
	height:280px;
}
#logo.w .ul1>li .tab6 div{
	width:210px;
	height:232px;
	margin-left:17px;
	float: left;
	line-height: 22px;
}
#logo.w .ul1>li .tab6 div a{
	color:#7A7A7A;
}
#logo.w .ul1>li .tab6 div p a{
	color:#A20D3A;
}
#logo.w .ul1>li .tab6 div p{
	margin-bottom:10px;
}
#logo.w .ul1>li .tab6 div a:hover{
	color:#A20D3A;
}
#logo.w .ul1>li .tab6 div.tab6_5{
	clear: both;
	width:110px;
	height:50px;
	margin-left:17px;
}
#logo.w .ul1>li .tab6 div.tab6_3 li,.tab6_4 li{
	margin-bottom:10px;
	position:relative;
	width:210px;
	height:116px;
}
#logo.w .ul1>li .tab6 div.tab6_3 li span,.tab6_4 li span{
	color:white;
	cursor: pointer;
	z-index: 10;
	text-align: center;
	margin-bottom:10px;
	position:relative;
	display: block;
	width:210px;
	height:50px;
	background:black;
	opacity:0.2;
	filter: alpha(opacity=20);
	bottom:50px;
	left: 0;
}
/*tab7*/
#logo.w .ul1>li .tab7{
	padding:15px;
	width:930px;
	height:280px;
	line-height: 22px;
}

#logo.w .ul1>li .tab7  a{
	color:#7A7A7A;
}
#logo.w .ul1>li .tab7  a:hover{
	color:#A20D3A;
}

#logo.w .ul1>li .tab7 p a{
	color:#A20D3A;
}
#logo.w .ul1>li .tab7 div.tab7_1{
	width:210px;
	height:200px;
	float: left;
	margin-right:30px;
}

#logo.w .ul1>li .tab7 div.tab7_2{
	width:320px;
	float: left;
	margin-right:30px;
}

#logo.w .ul1>li .tab7 div.tab7_2 ul li{
	width:110px;
	padding-right:20px;
	float: left;
}

#logo.w .ul1>li .tab7 div.tab7_3{
	width:110px;
	width:320px;
	float: left;
}
#logo.w .ul1>li .tab7 div .liimg{
	width:310px;
	height:170px;
	margin-top:15px;
}
#logo.w .ul1>li .tab7 div.tab7_3 ul li{
	width:110px;
	padding-right:20px;
	float: left;
}

#logo.w .ul1>li .tab7 div.tab7_4{
	width:80px;
	height:50px;
	margin-left: 20px;
}



/*右边咨询栏*/
#RightConsult{
	width:45px;
	height:144px;
	background:#eee;
	position:fixed;
	right:0;
	bottom:50px;
}

#RightConsult a{
	display: block;
	width:45px;
	height:48px;
}
#RightConsult a.Nowconsult{
	background: url(../img/watchImg/Nowconsult0.png) no-repeat center;
}
#RightConsult a.QQconsult{
	background: url(../img/watchImg/QQconsult0.png) no-repeat center;
}
#RightConsult a.Totop{
	background: url(../img/watchImg/Totop0.png) no-repeat center;
}


/*放大镜*/
#glass.w{
	height:459px;
	border-bottom: 1px solid #ccc;
	padding:12px 0 38px 26px;
	width:934px;
	height:459px;
	position: relative;
}
#glass .Spic{
	width:50px;
	height:459px;
	margin-right:47px;
}
#glass .Spic ul{
	width:50px;
	height:419px;
}
#glass .Spic ul li img{
	width:50px;
	height:60px
}
#glass .Spic a{
	display: block;
	width:45px;
	height:20px;
	margin-left: 5px;
}
#glass .Spic a.up{
	background: url(../img/watchDetail/updown.gif) no-repeat 0 0;
	cursor: pointer;
}
#glass .Spic a.down{
	background: url(../img/watchDetail/updown.gif) no-repeat 0 -12px;
	cursor: pointer;
}
#glass .Mpic{
	width:383px;
	height:459px;
	position:relative;
	margin-right: 63px;
}
#glass .Mpic .box{
	width:191px;
	height:230px;
	background:#fff;
	opacity:0.7;
	filter:alpha(opacity=70);
	position:absolute;
	left:0;
	top:0;
	display: none;
	border:1px solid #ccc;
}
#glass .Bpic{
	width:383px;
	height:459px;
	position: absolute;
	overflow: hidden;
	left:567px;
	top:12;
	display: none;
}
#glass .Mpic ul{
	width:383px;
	height:459px;
	overflow: hidden;
}
#glass .Mpic ul li{
	width:383px;
	height:459px;
}

#glass .Mpic ul li img{
	width:383px;
	height:459px;
}
#glass .Bpic ul{
	width:766px;
	height:918px;
}
#glass .Bpic ul li{
	width:766px;
	height:918px;
}
#glass .Bpic ul li img{
	width:766px;
	height:918px;
}

#glass .buy{
	width:391px;
	height:459px;
}
#glass .buy h3{
	line-height:21px;
	
}
#glass .buy span{
	color: #7a7a7a;
}
#glass .buy p{
	line-height:30px;
	color: #7a7a7a;
}
#glass .buy .commen{
	width:100%;
	height:36px;
	line-height: 18px;
	margin:20px 0;
	color: #7a7a7a;
}
#glass .buy input.buynow{
	border: 0;
	width:120px;
	height:35px;
	background:url(../img/watchDetail/buynow.gif) no-repeat center;
	margin-top:25px;
	margin-right:25px;
	cursor: pointer;
} 
#glass .buy input.buyposi{
	position: fixed;
	right:300px;
	z-index: 10;
	top:-23px;
}
#glass .buy input.addtocart{
	border: 0;
	cursor: pointer;
	width:120px;
	height:35px;
	background:url(../img/watchDetail/addtocart.gif) no-repeat center;
	margin-top:25px;
} 
#glass .buy input.addcartposi{
	position: fixed;
	right:150px;
	z-index: 10;
	top:-23px;
}

#glass .buy .share{
	width:100%;
	height:20px;
	margin:20px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	line-height: 20px;
}
#glass .buy .share a{
	display: block;
	height:20px;
	margin:0 3px;
	cursor: pointer;
}
#glass .buy .share a.weibo{
	width:20px;
	background: url(../img/watchDetail/weibo.jpg) no-repeat center;
}
#glass .buy .share a.weixin{
	width:20px;
	background: url(../img/watchDetail/weixin.jpg) no-repeat center;
}
#glass .buy .share a.douban{
	width:20px;
	background: url(../img/watchDetail/douban.jpg) no-repeat center;
}
#glass .buy .share a.ad{
	width:90px;
	padding-left: 20px;
	background: url(../img/watchDetail/greyheart.jpg) no-repeat left;
}#glass .buy .share a.ad:hover{
	background: url(../img/watchDetail/redheart.png) no-repeat left;
	color:#8E0C3A;
}
/*相关推荐*/
#recomment{
	height:394px;
}
#recomment .span1{
	width:60px;
	height:42px;
	font-size:42px;

	font-weight: 300;
}
#recomment h3{
	margin-top:12px;
	height:42px;
	width:250px;
	background: url(../img/watchDetail/xgtj.png) no-repeat 66px 12px;
}

#recomment ul{
	margin-top:30px;
	width:960px;
	height:315px;
}
#recomment ul li{
	width:192px;
}
#recomment ul li dl a{
	color:#7A7A7A;
}
#recomment ul li dl a:hover{
	color:#8E0C3A;
}

#goodsdetail ul.ulposi{
	width:960px;
	height:40px;
	background: #fff;
	border-bottom: 1px solid #7A7A7A;
}
#goodsdetail ul.cleposi{
	position: fixed;
	top:0;
	left: 50%;
	margin-left:-480px;
}
#goodsdetail ul.ulposi li{
	cursor: pointer;
	width:140px;
	height:40px;
	background: #e6e6e6;
	line-height: 40px;
	font-size:14px;
	color:#7c7c8f;
	text-align: center;
	margin-right:10px;
}
#goodsdetail ul li.bla{
	background: #505050;
	color:white;
}
#Aboutproduct .product{
	min-height:550px;
	margin-bottom:60px;
}

#Aboutproduct .product.detail .information,.story,.productPic{
	padding-top:45px;
	border-bottom: 1px dashed #ccc;
}

#Aboutproduct .product.detail .information  h3 .span1,.story h3 .span1,.productPic h3 .span1{
	width:60px;
	height:42px;
	font-size:42px;
	font-weight: 300;
}
#Aboutproduct .product.detail .information h3,.story h3,.productPic h3{
	height:42px;
	width:960px;
	margin-bottom: 25px;
}

#Aboutproduct .product.detail .information h3{
	background: url(../img/watchDetail/title1.jpg) no-repeat 60px 7px;
}
#Aboutproduct .product.detail .story h3{
	background: url(../img/watchDetail/title2.jpg) no-repeat 60px 7px;
	
}
#Aboutproduct .product.detail .productPic h3{
	background: url(../img/watchDetail/title3.jpg) no-repeat 60px 7px;
	
}
#Aboutproduct .product.detail .information{
	height:430px;
}
#Aboutproduct .product.detail .information table{
	width:100%;
	height:315px;
	border-collapse: collapse;
	border-color: #ccc;
	border: 1px solid #ccc;
}
#Aboutproduct .product.detail .information table td{
	border: 1px solid #ccc;
	padding-left:10px;
	color:#7A7A7A;
}
#Aboutproduct .product.detail .story{
	height:350px;
}
#Aboutproduct .product.detail .story p{
	line-height: 35px;
	color:#7A7A7A;
}
#Aboutproduct .product.detail .story .rightStory a{
	margin-top:100px;
	text-decoration: underline;
	color:#7A7A7A;
}
#Aboutproduct .product.detail .story .rightStory a:hover{
	color:#8E0C3A;
}
#Aboutproduct .product.detail .story .leftLogo{
	width:280px;
	height:230px;
	margin-bottom: 30px;
}#Aboutproduct .product.detail .story .rightStory{
	width:600px;
	height:230px;
	padding-left:80px;
	margin-bottom: 30px;
	border-left: 1px solid #ccc;
}
#Aboutproduct .product.detail .story .leftLogo span{
	display: block;
	width:170px;
	height:52px;
	background: url(../img/watchDetail/ppgs.jpg) no-repeat;
}
#Aboutproduct .product.detail .productPic{
	padding-left:40px 
}
#Aboutproduct .product.detail .productPic h3{
	margin-left: -40px;
}
#Aboutproduct .product.detail .productPic .tupian img{
	width:415px;
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 40px;
}
#Aboutproduct .product.size{
	padding-top:45px;
	height:510px;
	border-bottom: 1px dashed #ccc;
	display: none;
}
#Aboutproduct .product.shipping{
	display: none;
}

#Aboutproduct .product.size h3 .span1{
	width:60px;
	height:42px;
	font-size:42px;
	font-weight: 300;	
}
#Aboutproduct .product.size h3{
	height:42px;
	width:960px;
	margin-bottom: 25px;
}

#Aboutproduct .product.size h3{
	background: url(../img/watchDetail/productSize.png) no-repeat 60px 7px;
}
#Aboutproduct .product.size table{
	width:624px;
	height:24px;
	text-align: center;
	border-spacing: 0;
	background: #e6e6e6;
	margin-top:50px;
}
#Aboutproduct .product.size table.down{
	margin-top:20px;
}
#Aboutproduct .product.size table td{
	width:240px;
}
#Aboutproduct .product.shipping .myshipping h3{
	margin-top:40px;
}
#Aboutproduct .product.shipping .myshipping h3,.service h3{
	height:42px;
	width:960px;
	margin-bottom: 25px;
}
#Aboutproduct .product.shipping .service h3{
	height:42px;
	width:960px;
	margin-bottom: 25px;
}
#Aboutproduct .product.shipping .myshipping h3{
	height:42px;
	width:960px;
	margin-bottom: 25px;
}
#Aboutproduct .product.shipping .myshipping h3 .span1{
	width:60px;
	height:42px;
	font-size:42px;
	font-weight: 300;	
}
#Aboutproduct .product.shipping .service h3 .span1{
	width:60px;
	height:42px;
	font-size:42px;
	font-weight: 300;	
}

#Aboutproduct .product.shipping .myshipping h3{
	background: url(../img/watchDetail/shipping.png) no-repeat 60px 7px;
}
#Aboutproduct .product.shipping .service h3{
	background: url(../img/watchDetail/afterservice.png) no-repeat 60px 7px;
}

#Aboutproduct .product.shipping p{
	line-height: 25px;
	color:#7A7A7A;
}
#Aboutproduct .product.shipping h4{
	line-height: 25px;
}
#Aboutproduct .product.shipping .service h4.teshu{
	height:25px;
	padding-top:35px;
	border-top:1px dashed #ccc;
	margin-top:20px;
}

#Aboutproduct .product.shipping .myshipping{
	width;960px;
	height:200px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #ccc;
}

#Aboutproduct .product.shipping .service{
	width;960px;
	height:600px;
	margin-bottom: 20px;
	border-bottom: 1px dashed #ccc;	
}
#Aboutproduct .product.shipping .telme{
	width;960px;
	height:60px;
	line-height: 30px;
	margin-bottom: 60px;
}
#Aboutproduct .product.shipping .telme a{
	color:#7a7a7a;
}
#Aboutproduct .product.shipping .telme a:hover{
	color:#8E0C3A;
}


#guessyoulike{
	height:370px;
	padding-top:15px
}

#guessyoulike .guess_title{
	width:150px;
	height:50px;
	margin:0 auto;
	margin-bottom: 25px;
}

#guessyoulike .guess_title span{
	display: block;
	width:50px;
	height:30px;
	line-height: 30px;
	border-top:1px solid #ccc;
	margin:0 auto;
	margin-top:5px;
}
#guessyoulike ul li{
	width:192px;
}
#guessyoulike ul li a:hover{
	color:#8E0C3A;
}


#brandnav{
	height:40px;
	border-top:1px solid #666;
	line-height: 40px;
	
}
#brandnav a{
	color:#7A7A7A;
}
#brandnav a:hover{
	color:#8E0C3A;
}
#brandnav .showdiv{
	position: relative;
}
#brandnav .theHide{
	display: none;
	width:400px;
	height:140px;
	overflow: scroll;
	overflow-x: hidden;
	position:absolute;
	left:-162px;
	top:40px;
	background: #fff;
	border: 1px solid #ccc;
}

#brandnav .sanjiao{
	display: none;
	height:10px;
	width:21px;
	position:absolute;
	z-index: 10;
	left:-60px;
	top:32px;
	z-index: 10;
	background:url(../img/watchDetail/hidejiao.png) no-repeat center;
}


#super .superBigpic{
	width:900px;
	height:1000px;
	background: #fff;
	position:fixed;
	top:0;
	left:50%;
	margin-left:-450px;
	z-index: 1000;
	display: none;
}
#super .superBigpic span.close{
	margin-top:100px;
	margin-right:50px;
	display: block;
	cursor: pointer;
	width:50px;
	height:30px;
	line-height: 30px;
	float: right;
	
} 
#super .superUlS{
	width:400px;
	height:60px;
	margin-top:50px;
	margin-left:100px;
	cursor: pointer;
}
#super .superUlS li{
	width:50px;
	height:60px;
	margin-right:10px;
}
#super .superUlS li img{
	width:50px;
	height:60px;
}
#super .showSuperpic .superUlB{
	height:800px;
}
#super .showSuperpic .superUlB li{
	width:600px;
	height:800px;
}
#super .showSuperpic .superUlB li img{
	width:600px;
	height:800px;
}

#super .showSuperpic{
	width:600px;
	height: 800px;
	overflow: hidden;
	margin: 0 auto;
}


